aws_region          = "us-east-1"
environment         = "production"
grafana_secret_arn  = "arn:aws:secretsmanager:us-east-1:123456789012:secret:siase/production/grafana"
cluster_version     = "1.30"
node_instance_types = ["t3.large"]
node_min_size       = 3
node_desired_size   = 3
node_max_size       = 10
